<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/disqusjs@1.3/dist/disqusjs.css">-->
<!--<script src="https://cdn.jsdelivr.net/npm/disqusjs@1.3/dist/disqus.js"></script>-->

<!-- <script type="text/javascript">
    console.log("%c Okishio desu, Yoroshiku %c","color: #fff; margin: 1em 0; padding: 5px 0; background: #3498db;","margin: 1em 0; padding: 5px 0; background: #efefef;");
</script> -->

<!-- Load Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200;300;400;500;600;700;900&display=swap"
    rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
<link href="https://static.zeoseven.com/zsft/293/main/result.css" rel="stylesheet">
<style>
    pre {
        tab-size: 4;
    }

    .heimu,
    .heimu rt {
        background-color: #252525;
    }

    .heimu,
    .heimu a,
    a .heimu,
    a.new .heimu,
    span.heimu a.new,
    span.heimu a.external,
    span.heimu a.external:visited,
    span.heimu a.extiw,
    span.heimu a.extiw:visited,
    span.heimu a.mw-disambig,
    span.heimu a.mw-redirect {
        transition: color 0.13s linear;
        color: #252525;
        text-shadow: none;
    }

    span.heimu:hover,
    span.heimu:active {
        color: white;
    }

    span.heimu:hover a,
    a:hover span.heimu {
        color: lightblue;
    }

    span.heimu:hover a:visited,
    a:visited:hover span.heimu {
        color: #C5CAE9;
    }

    span.heimu:hover a.new,
    a.new:hover span.heimu {
        color: #FCC;
    }

    span.heimu a.new:hover:visited,
    a.new:hover:visited span.heimu {
        color: #EF9A9A;
    }

    span.heimu:hover a.extiw:visited,
    a.extiw:visited:hover span.heimu {
        color: #D1C4E9;
    }
</style>
